<div ng-controller="sessionController as SC" class="col-sm-8">
	Hi, {{SC.cur_user.name}}! | <a href="/logout">logout</a>
	<div ng-controller="questionsController as QC">
		<div>
			<a href="#/addQuestion">Add a Question</a>
			<input type="text" ng-model="search" placeholder="search">
		</div>
		<div>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Question</th>
						<th>Answers</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="question in QC.qList | filter:search">
						<td>{{question.question}}</td>
						<td>{{question.answers.length}}</td>
						<td> <a href="#/show/{{question._id}}">show</a>|<a href="#/answer/{{question._id}}">Answer</a> </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>